# WEB SCRAPING ASSIGNMENT NO.-4

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotVisibleException,ElementClickInterceptedException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options
import re
import time
import warnings
import requests

warnings.filterwarnings("ignore")

In [2]:
#connecting to the webdriver

driver = webdriver.Chrome()

In [3]:
#Opening the Amazon page on automated browser

URL=" https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(URL)
driver.maximize_window()

In [4]:
time.sleep(2)

In [5]:
# Empty list for scraping data
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

In [7]:
# Extracting Rank Via X path
try:
    rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
except StaleElementReferenceException:
    Rank.append('NA')

In [9]:
# Extracting Name Via X path
try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name:
        Name.append(i.text)
except NoSuchElementExceptionhElementException:
    Name.append('NA')
except StaleElementReferenceException:
    Name.append('NA')

In [10]:
# Extracting Artist Name Via Xpath
try:
    artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementExceptionhElementException:
    Artist.append('NA')
except StaleElementReferenceException:
    Artist.append('NA')

In [11]:
# Extracting Upload date Via Xpath
try:
    upload_date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date:
        Upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    Upload_date.append('NA')
except StaleElementReferenceException:
    Upload_date.append('NA')

In [12]:
# Extracting Views via Xpath
try:
    views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views:
        Views.append(i.text)
except NoSuchElementExceptionhElementException:
    Views.append('NA')
except StaleElementReferenceException:
    Views.append('NA')

In [13]:
# Dataframe for scrap data
most_watched=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Views (in Billons)':Views,'Upload Date':Upload_date})
print('\033[1m'+'Most Viewed Video on YouTube from Wikipedia :'+'\033[0m')
most_watched

Most Viewed Video on YouTube from Wikipedia :

,Rank,Video Name,Uploader,Views (in Billons),Upload Date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.65,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.32,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.84,"October 8, 2016"
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.50,"May 2, 2018"
4,5.,"""Shape of You""[19]",Ed Sheeran,6.14,"January 30, 2017"
5,6.,"""See You Again""[22]",Wiz Khalifa,6.09,"April 6, 2015"
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.71,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.57,"March 6, 2014"
8,9.,"""Uptown Funk""[29]",Mark Ronson,5.09,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.01,"February 27, 2018"
10,11.,"""Gangnam Style""[31]",officialpsy,4.96,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.57,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,4.48,"April 5, 2018"
13,14.,"""Axel F""[38]",Crazy Frog,4.16,"June 16, 2009"
14,15.,"""Sugar""[39]",Maroon 5,3.97,"January 14, 2015"
15,16.,"""Counting Stars""[40]",OneRepublic,3.92,"May 31, 2013"
16,17.,"""Roar""[41]",Katy Perry,3.91,"September 5, 2013"
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.84,"June 25, 2018"
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.78,"June 4, 2010"
19,20.,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.76,"June 14, 2018"
20,21.,"""Sorry""[45]",Justin Bieber,3.74,"October 22, 2015"
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.69,"October 7, 2014"
22,23.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.63,"January 26, 2018"
23,24.,"""Dark Horse""[48]",Katy Perry,3.63,"February 20, 2014"
24,25.,"""Perfect""[49]",Ed Sheeran,3.60,"November 9, 2017"
25,26.,"""Let Her Go""[50]",Passenger,3.56,"July 25, 2012"
26,27.,"""Faded""[51]",Alan Walker,3.55,"December 3, 2015"
27,28.,"""Shree Hanuman Chalisa""[52]",T-Series Bhakti Sagar,3.54,"May 10, 2011"
28,29.,"""Girls Like You""[53]",Maroon 5,3.52,"May 31, 2018"
29,30.,"""Lean On""[54]",Major Lazer Official,3.50,"March 22, 2015"

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [15]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotVisibleException,ElementClickInterceptedException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options
import re
import time
import warnings
import requests

warnings.filterwarnings("ignore")

In [16]:
#connecting to the webdriver

driver = webdriver.Chrome()

In [17]:
#Opening the Amazon page on automated browser

URL=" https://www.bcci.tv/"
driver.get(URL)
driver.maximize_window()

In [18]:
time.sleep(2)

In [25]:
# Opening fixtures webpage through browser
fixtures=driver.find_element(By.XPATH,'//*[@id="imw-international-men"]/a[2]')
#try:
fixtures.click()
#except ElementNotInteractableException:
 #   driver.get(fixtures.get_attribute('href'))

In [28]:
# Scraping URL 
URL= []
link=driver.find_elements(By.XPATH,'//div[@class="js-list"]/a')
for i in link:
    URL.append(i.get_attribute('href'))

In [29]:
# Creating empty list
Title = []
Series = []
Place = []
Date = []
Time = []

In [81]:
title_tag=driver.find_elements(By.XPATH,"//p[@class='mc-header-info__match-description']/span") 
for i in title_tag[0:9]:
    Title.append(i.text)

In [82]:
print(len(Title))

13

In [83]:
print(Title)

['AUSTRALIA TOUR OF INDIA 2023-24', '2nd T20IMen\nAUSTRALIA TOUR OF INDIA 2023-24\n26 NOVEMBER, 2023\n7:00 PM IST\nGreenfield International Stadium, Thiruvananthapuram\nIndia\nAustralia\nMatch Info', 'AUSTRALIA TOUR OF INDIA 2023-24', 'AUSTRALIA TOUR OF INDIA 2023-24', 'AUSTRALIA TOUR OF INDIA 2023-24', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'AUSTRALIA TOUR OF INDIA 2023-24', 'ENGLAND A WOMENS TOUR OF INDIA T20 SERIES', 'ENGLAND A WOMENS TOUR OF INDIA T20 SERIES', 'AUSTRALIA TOUR OF INDIA 2023-24', 'ENGLAND A WOMENS TOUR OF INDIA T20 SERIES', 'AUSTRALIA TOUR OF INDIA 2023-24']

In [63]:
series_tag=driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/div/div/h5') 
    for i in series_tag:
        Series.append(i.text)

In [64]:
print(len(Series))

9

In [73]:
# Scraping venue Via Xpath
place_tag=driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[2]/div[1]/span[1]')
for i in place_tag:
    Place.append(i.text)

In [74]:
print(len(Place))

9

In [76]:
      
# Scraping date Via Xpath
date_tag=driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/div/div/div[2]/div[1]')
for i in date_tag:
     Date.append(i.text)

In [77]:
print(len(Date))

9

In [78]:
# Scraping time Via Xpath
time_tag=driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[1]/div/div/div[2]/div[2]')
for i in time_tag:
     Time.append(i.text)

In [79]:
print(len(Time))

9

In [86]:
# Dataframe for scrap data
Fixtures=pd.DataFrame({'Title':Title[0:9],'Series':Series[0:9],'Pace':Place[0:9],'Date':Date[0:9],'Time':Time[0:9]})
print('\033[1m'+'Team India’s Upcoming International fixtures :'+'\033[0m')
Fixtures

Team India’s Upcoming International fixtures :

,Title,Series,Pace,Date,Time
0,AUSTRALIA TOUR OF INDIA 2023-24,AUSTRALIA TOUR OF INDIA 2023-24,"Greenfield International Stadium,","26 NOVEMBER, 2023",7:00 PM IST
1,2nd T20IMen\nAUSTRALIA TOUR OF INDIA 2023-24\n...,QUADRANGULAR MENS U19 ONE DAY SERIES,"CP Ground,Mulapadu,","27 NOVEMBER, 2023",9:00 AM IST
2,AUSTRALIA TOUR OF INDIA 2023-24,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu,","27 NOVEMBER, 2023",9:00 AM IST
3,AUSTRALIA TOUR OF INDIA 2023-24,AUSTRALIA TOUR OF INDIA 2023-24,"Barsapara Cricket Stadium,","28 NOVEMBER, 2023",7:00 PM IST
4,AUSTRALIA TOUR OF INDIA 2023-24,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium,","29 NOVEMBER, 2023",1:30 PM IST
5,QUADRANGULAR MENS U19 ONE DAY SERIES,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium,","1 DECEMBER, 2023",1:30 PM IST
6,QUADRANGULAR MENS U19 ONE DAY SERIES,AUSTRALIA TOUR OF INDIA 2023-24,Shaheed Veer Narayan Singh International Crick...,"1 DECEMBER, 2023",7:00 PM IST
7,AUSTRALIA TOUR OF INDIA 2023-24,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium,","3 DECEMBER, 2023",1:30 PM IST
8,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,AUSTRALIA TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium,","3 DECEMBER, 2023",7:00 PM IST

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [44]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotVisibleException,ElementClickInterceptedException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options
import re
import time
import warnings
import requests

warnings.filterwarnings("ignore")

In [45]:
#connecting to the webdriver

driver = webdriver.Chrome()

In [46]:
#Opening the Amazon page on automated browser

URL=" https://www.statisticstimes.com/"
driver.get(URL)
driver.maximize_window()

In [47]:
time.sleep(2)

In [48]:
# Creating Empty lists
Rank =[]
State =[]
GDSP_19_20=[]
GDSP_18_19 =[]
Share =[]
GDP =[]

In [51]:
# Clicking on India under ecomony section
Eco=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')
try:
    Eco.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))
    
time.sleep(2)

In [52]:
India=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')
India.click()

In [53]:
# Clicking Indian State GDP

state = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))
time.sleep(2)

In [54]:
# Extracting Rank via Xpath
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')

In [56]:
time.sleep(2)

In [59]:
print(len(Rank))

33

In [60]:
time.sleep(2)

In [61]:
# Extracting state name via Xpath
try:
    #state=driver.find_element(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')

In [62]:
print(len(State))

33

In [63]:
 # Extracting GDSP 19-20 via Xpath
try:
    gdsp_19_20=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gdsp_19_20:
        GDSP_19_20.append(i.text)
except NoSuchElementException:
    GDSP_19_20.append('NA')

In [64]:
print(len(GDSP_19_20))

33

In [65]:
# Extracting GDSP 18-19 via Xpath
try:
    gdsp_18_19=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_18_19:
        GDSP_18_19.append(i.text)
except NoSuchElementException:
    GDSP_18_19.append('NA')

In [66]:
print(len(GDSP_18_19))

33

In [67]:
# Extracting share in billons via Xpath
try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')

In [68]:
print(len(Share))

33

In [69]:
# Extracting GDP via Xpath
try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [70]:
print(len(GDP))

33

In [71]:
# Dataframe for scrap data
Statewise_GDP=pd.DataFrame({'Rank':Rank,'State':State,'GDSP 19-20':GDSP_19_20,'GDSP 18-19':GDSP_18_19,
                            'Share':Share,'GDP (in Billions)':GDP})
print('\033[1m'+'State-wise GDP of India :'+'\033[0m')
Statewise_GDP

State-wise GDP of India :

,Rank,State,GDSP 19-20,GDSP 18-19,Share,GDP (in Billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [72]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotVisibleException,ElementClickInterceptedException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options
import re
import time
import warnings
import requests

warnings.filterwarnings("ignore")

In [75]:
#connecting to the webdriver

driver = webdriver.Chrome()

In [76]:
#Opening the GitHub page on automated browser

URL="https://github.com/"
driver.get(URL)
driver.maximize_window()

In [77]:
time.sleep(2)

In [82]:
# Clicking on trending option
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [83]:
tre=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
tre.click()

In [109]:
Repository_title= []
Repository_description= []
Contributors_count= []
Language_used= []

In [114]:
#Scraping title of repository
try:
    Repository_title_tag=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
    for i in Repository_title_tag:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')

In [115]:
len(Repository_title)

26

In [120]:
#Scraping description of Repository
try:
    description=driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article[3]/p')
    for i in description:
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('-')

In [123]:
print(len(Repository_description))

51

In [128]:
#Scraping language of Repository
try:
    Language=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
    for i in Language:
        Language_used.append(i.text)
except NoSuchElementException:
    Language_used.append('-')

In [129]:
print(len(Language_used))

20

In [139]:
#Scraping Contributor's count of Repository
try:
    Count=driver.find_elements(By.XPATH,'//span[@class="d-inline-block float-sm-right"]')
    for i in Count:
        Contributors_count.append(i.text)
except NoSuchElementException:
    Contributors_count.append('-')

In [140]:
print(len(Contributors_count))

29

In [142]:
#creating Dataframe
github_deatails=pd.DataFrame({"Repository_title":Repository_title[:20],"Repository_description":Repository_description[:20],"Language_used":Language_used[:20],"Contributors_count":Contributors_count[:20]})
github_deatails

,Repository_title,Repository_description,Language_used,Contributors_count
0,run-llama /,"A quick example of how one can ""synchronize"" a...",JavaScript,652
1,bgstaal /,2008-2012 Roadster Development and Diagnostic ...,JavaScript,"4,597"
2,run-llama /,"Awesome deals on Black Friday: Apps, SaaS, Boo...",Python,"4,597"
3,teslamotors /,✯ 一个可直连访问的电视/广播图标库与相关工具项目 ✯ 🔕 永久免费 直连访问 完整开源 不...,JavaScript,971
4,trungdq88 /,Clash Nyanpasu!,TypeScript,"1,980 stars today"
5,fanmingming /,leaked prompts of GPTs,HTML,80 stars today
6,keiko233 /,The code behind my hot tips,Python,172 stars today
7,linexjlin /,Focus on prompting and generating,Java,174 stars today
8,wesbos /,A Collection of application ideas which can be...,C,191 stars today
9,lllyasviel /,"StarRocks, a Linux Foundation project, is a ne...",Java,939 stars today
10,florinpop17 /,C Telegram bot framework,Go,553 stars today
11,StarRocks /,🇨🇳 GitHub中文排行榜，各语言分设「软件 | 资料」榜单，精准定位中文好项目。各取所需...,Shell,162 stars today
12,antirez /,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,Python,168 stars today
13,GrowingGit /,store all chatgpt's system prompt,TypeScript,235 stars today
14,1Panel-dev /,Generative Models by Stability AI,Jupyter Notebook,134 stars today
15,LouisShark /,A one-of-a-kind resume builder that keeps your...,Swift,28 stars today
16,Stability-AI /,"12 Weeks, 24 Lessons, AI for All!",Java,341 stars today
17,AmruthPillai /,A curated list of awesome C++ (or C) framework...,JavaScript,54 stars today
18,microsoft /,Black Friday Deals for macOS / iOS Software & ...,Java,63 stars today
19,fffaraz /,Spring Boot,TypeScript,897 stars today

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [91]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotVisibleException,ElementClickInterceptedException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options
import re
import time
import warnings
import requests

warnings.filterwarnings("ignore")

In [92]:
#connecting to the webdriver

driver = webdriver.Chrome()

In [94]:
#Opening the Billiboard page on automated browser

URL="https:/www.billboard.com/"
driver.get(URL)
driver.maximize_window()

In [64]:
time.sleep(2)

In [96]:
top=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/main/div[2]/div[1]/div[1]/div[1]/div[2]/div/div[2]/a[1]')
top.click()

In [97]:
time.sleep(2)

In [98]:
#Creating Empty List
Name=[]
Artist=[]
Rank=[]
All_rank=[]

In [99]:
#Scraping rank
rankTag=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
for i in rankTag:
    Rank.append(i.text )

In [100]:
print(len(Rank))

200

In [101]:
#Scraping name
Name_tag=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in Name_tag:
    Name.append(i.text)

In [102]:
print(len(Name))

199

In [103]:

#Scraping artist
Artist_tag=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in Artist_tag:
    Artist.append(i.text)

In [104]:
print(len(Artist))

199

In [105]:
#Scraping Last All Rank
Allrank_tag=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in Allrank_tag:
    All_rank.append(i.text)

In [106]:
print(len(All_rank))

1194

In [107]:
print(All_rank)

['1', '1', '3', '', '', '', '-', '3', '1', '', '', '', '3', '1', '6', '', '', '', '4', '1', '37', '', '', '', '2', '2', '2', '', '', '', '9', '1', '56', '', '', '', '5', '1', '5', '', '', '', '-', '9', '1', '', '', '', '8', '1', '12', '', '', '', '7', '1', '9', '', '', '', '10', '1', '49', '', '', '', '13', '3', '51', '', '', '', '11', '1', '221', '', '', '', '-', '1', '183', '', '', '', '12', '1', '10', '', '', '', '-', '17', '1', '', '', '', '15', '1', '173', '', '', '', '14', '1', '149', '', '', '', '-', '3', '176', '', '', '', '16', '3', '21', '', '', '', '17', '1', '16', '', '', '', '-', '23', '1', '', '', '', '20', '1', '19', '', '', '', '24', '1', '269', '', '', '', '-', '26', '1', '', '', '', '22', '5', '78', '', '', '', '-', '28', '1', '', '', '', '29', '14', '4', '', '', '', '23', '4', '8', '', '', '', '25', '1', '105', '', '', '', '27', '1', '153', '', '', '', '-', '33', '1', '', '', '', '28', '2', '17', '', '', '', '30', '1', '80', '', '', '', '42', '3', '24', '', '', '', '58', '1', '111', '', '', '', '32', '1', '130', '', '', '', '35', '7', '27', '', '', '', '36', '7', '314', '', '', '', '41', '4', '34', '', '', '', '37', '1', '194', '', '', '', '34', '1', '50', '', '', '', '39', '3', '336', '', '', '', '40', '1', '555', '', '', '', '18', '18', '2', '', '', '', '38', '1', '54', '', '', '', '-', '1', '23', '', '', '', '51', '1', '123', '', '', '', '43', '1', '658', '', '', '', '44', '1', '115', '', '', '', '45', '1', '559', '', '', '', '48', '1', '218', '', '', '', '50', '4', '337', '', '', '', '46', '1', '315', '', '', '', '47', '8', '569', '', '', '', '76', '3', '118', '', '', '', '53', '1', '466', '', '', '', '49', '1', '302', '', '', '', '54', '2', '577', '', '', '', '-', '61', '1', '', '', '', '102', '51', '52', '', '', '', '105', '1', '600', '', '', '', '56', '1', '344', '', '', '', '57', '2', '510', '', '', '', '63', '1', '281', '', '', '', '31', '11', '3', '', '', '', '61', '25', '24', '', '', '', '55', '1', '38', '', '', '', '60', '18', '668', '', '', '', '67', '4', '287', '', '', '', '66', '10', '268', '', '', '', '6', '6', '2', '', '', '', '-', '74', '1', '', '', '', '160', '4', '587', '', '', '', '72', '1', '356', '', '', '', '146', '6', '109', '', '', '', '62', '3', '14', '', '', '', '59', '3', '22', '', '', '', '74', '1', '467', '', '', '', '19', '19', '2', '', '', '', '68', '14', '6', '', '', '', '33', '3', '4', '', '', '', '79', '1', '427', '', '', '', '69', '34', '15', '', '', '', '172', '5', '75', '', '', '', '78', '12', '9', '', '', '', '133', '88', '2', '', '', '', '81', '1', '392', '', '', '', '83', '1', '81', '', '', '', '80', '1', '78', '', '', '', '75', '22', '7', '', '', '', '84', '2', '292', '', '', '', '26', '2', '3', '', '', '', '92', '4', '43', '', '', '', '90', '1', '276', '', '', '', '88', '1', '394', '', '', '', '91', '1', '210', '', '', '', '94', '1', '118', '', '', '', '71', '11', '5', '', '', '', '85', '3', '25', '', '', '', '21', '21', '2', '', '', '', '95', '2', '425', '', '', '', '86', '11', '8', '', '', '', '64', '5', '5', '', '', '', '96', '8', '345', '', '', '', '-', '2', '141', '', '', '', '104', '3', '157', '', '', '', '98', '2', '71', '', '', '', '99', '2', '16', '', '', '', '89', '1', '20', '', '', '', '-', '112', '1', '', '', '', '103', '6', '277', '', '', '', '107', '21', '162', '', '', '', '101', '3', '501', '', '', '', '108', '1', '128', '', '', '', '-', '36', '61', '', '', '', '109', '2', '125', '', '', '', '114', '2', '215', '', '', '', '130', '3', '189', '', '', '', '118', '2', '152', '', '', '', '113', '3', '36', '', '', '', '100', '1', '57', '', '', '', '117', '1', '138', '', '', '', '112', '1', '350', '', '', '', '110', '2', '540', '', '', '', '73', '3', '5', '', '', '', '143', '1', '214', '', '', '', '119', '19', '39', '', '', '', '123', '1', '289', '', '', '', '-', '12', '39', '', '', '', '121', '1', '644', '', '', '', '125', '4', '361', '', '', '', '111', '1', '68', '', '', '', '122', '3', '650', '', '', '', '120', '3', '650', '', '', '', '-', '18', '3', '', '', '', '-', '8', '32', '', '', '', '-', '11', '234', '', '', '', '127', '1', '325', '', '', '', '106', '1', '331', '', '', '', '140', '1', '245', '', '', '', '-', '28', '110', '', '', '', '144', '1', '241', '', '', '', '134', '83', '27', '', '', '', '152', '3', '13', '', '', '', '-', '12', '51', '', '', '', '147', '1', '107', '', '', '', '-', '2', '265', '', '', '', '129', '129', '17', '', '', '', '132', '5', '809', '', '', '', '126', '1', '17', '', '', '', '145', '1', '88', '', '', '', '136', '107', '136', '', '', '', '131', '2', '341', '', '', '', '-', '156', '1', '', '', '', '142', '36', '13', '', '', '', '82', '1', '4', '', '', '', '153', '1', '175', '', '', '', '155', '1', '245', '', '', '', '-', '161', '1', '', '', '', '139', '1', '348', '', '', '', '161', '1', '242', '', '', '', '171', '23', '10', '', '', '', '150', '1', '176', '', '', '', '148', '1', '340', '', '', '', '138', '62', '20', '', '', '', '167', '2', '318', '', '', '', '-', '169', '1', '', '', '', '135', '21', '14', '', '', '', '169', '1', '120', '', '', '', '154', '34', '221', '', '', '', '158', '2', '187', '', '', '', '-', '6', '178', '', '', '', '164', '5', '114', '', '', '', '93', '23', '6', '', '', '', '141', '1', '263', '', '', '', '-', '14', '29', '', '', '', '184', '14', '174', '', '', '', '151', '8', '8', '', '', '', '157', '56', '240', '', '', '', '170', '61', '7', '', '', '', '-', '1', '154', '', '', '', '174', '1', '295', '', '', '', '-', '32', '2', '', '', '', '163', '8', '499', '', '', '', '177', '25', '300', '', '', '', '162', '1', '590', '', '', '', '159', '6', '112', '', '', '', '-', '16', '3', '', '', '', '175', '34', '35', '', '', '', '194', '3', '249', '', '', '', '165', '1', '199', '', '', '', '198', '2', '165', '', '', '', '179', '4', '134', '', '', '', '180', '1', '151', '', '', '', '-', '1', '109', '', '', '', '65', '65', '2', '', '', '', '191', '1', '66', '', '', '', '189', '28', '55', '', '', '']

In [108]:
# removing '' for getting last week rang and weeks on board
for i in All_rank:
    if i=='':
        All_rank.remove(i)
        
# slicing Data
last_week_rank= All_rank[0::3]
last_week_rank.insert(0,Rank[0])
peak_rank= All_rank[1::3]
peak_rank.insert(0,Rank[1])
weeks_on_board= All_rank[2::3]
weeks_on_board.insert(0,Rank[2])

In [ ]:
driver.close()

In [109]:
# Create Dataframe
songs_top=pd.DataFrame({"Name":Name[:100],
                        "Artist":Artist[:100],
                        "Last Week Rank":last_week_rank[0:100],
                        "Peak Rank":peak_rank[0:100],
                        "Weeks On Board":weeks_on_board[0:100]})
songs_top

,Name,Artist,Last Week Rank,Peak Rank,Weeks On Board
0,1989 (Taylor's Version),Taylor Swift,1,2,3
1,Higher,Chris Stapleton,1,1,3
2,For All The Dogs,Drake,-,3,1
3,One Thing At A Time,Morgan Wallen,3,1,6
4,Golden,Jung Kook,4,1,37
...,...,...,...,...,...
95,ANTI,Rihanna,90,1,276
96,What You See Is What You Get,Luke Combs,88,1,394
97,After Hours,The Weeknd,91,1,210
98,A Great Chaos,Ken Carson,94,1,118
99,Almost Healed,Lil Durk,71,11,5

# 6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [15]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotVisibleException,ElementClickInterceptedException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options
import re
import time
import warnings
import requests

warnings.filterwarnings("ignore")

In [16]:
#connecting to the webdriver

driver = webdriver.Chrome()

In [17]:
#Opening the theguardian page on automated browser

URL=" https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(URL)
driver.maximize_window()

In [18]:

Title=[]
Author=[]
Volume_sales=[]
Publisher=[]
Genre=[]

In [20]:
#Scrap Book Title
# Scraping Book name
try:
    titlr_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in titlr_tag:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('NA')

In [21]:
print(len(Title))

100

In [23]:
# Scraping Author Name via Xpath
try:
    author_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author_tag:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')

In [24]:
print(len(Author))

100

In [25]:
# Scraping Volume sales via Xpath
try:
    sale_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sale_tag:
        Volume_sales.append(i.text)
except NoSuchElementException:
    Volume_sales.append('NA')

In [26]:
print(len(Volume_sales))

100

In [27]:
# Scraping publisher via xPath
try:
    publisher_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher_tag:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')

In [29]:
print(len(Publisher))

100

In [31]:
# Scraping Genre via Xpath
try:
    genre_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre_tag:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [32]:
print(len(Genre))

100

In [33]:
#creating dataframe
Top_Books=pd.DataFrame({"Book Title":Title,
                "Author Name":Author,
                'Volumes sold':Volume_sales,
                'Publisher':Publisher,
                'Genre':Genre})
print('\033[1m'+'Best Selling Books of All Time List by The Guardian  :'+'\033[0m')
Top_Books

Best Selling Books of All Time List by The Guardian  :

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [43]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotVisibleException,ElementClickInterceptedException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options
import re
import time
import warnings
import requests

warnings.filterwarnings("ignore")

In [44]:
#connecting to the webdriver

driver = webdriver.Chrome()

In [45]:
time.sleep(2)

In [46]:
#Opening the imdb page on automated browser

URL="https://www.imdb.com/list/ls095964455/"
driver.get(URL)
driver.maximize_window()

In [47]:
# Creating Empty List
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [41]:
# Scraping Name via Xpath
try:
    name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

# Scraping Year span via Xpath
try:
    year=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    
# Scraping RunTime via Xpath
try:
    runtime=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')

# Scraping Ratings via Xpath
try:
    ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')

# Scraping Votes via Xpath
try:
    votes=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')

In [42]:
#creating dataframe
IMDB_TV=pd.DataFrame({"Name":Name,
                "Year Span":Year_Span,
                "Genre":Genre,
                "Run Time":Run_Time,
                "Ratings":Ratings,
                "Votes":Votes})
print('\033[1m'+'Top 100 most watched tv shows of all time IMDB :'+'\033[0m')
IMDB_TV

Top 100 most watched tv shows of all time IMDB :

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","4,189 min",9.2,"2,226,162"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,293,229"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,056,079"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"310,082"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"269,197"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"53,263"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,354"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"213,132"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,368"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"277,921"

# 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.
ASSIGNMENT

In [173]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotVisibleException,ElementClickInterceptedException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options
import re
import time
import warnings
import requests

warnings.filterwarnings("ignore")

In [174]:
#connecting to the webdriver

driver = webdriver.Chrome()

In [175]:
time.sleep(2)

In [176]:
#Opening the archive page on automated browser

URL="https://archive.ics.uci.edu/"
driver.get(URL)
driver.maximize_window()

In [177]:
Dataset_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
Dataset_button.click()

In [178]:
Expand_all=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
Expand_all.click()

In [179]:
# Creating empty lists
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]

In [180]:
# Scraping DataSet Name via Xpath

dataset_tag=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in dataset_tag:   
    Dataset.append(i.text)

In [181]:
print(len(Dataset))

10

In [182]:
print(Dataset)

['Iris', 'Heart Disease', 'Adult', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Diabetes', 'Dry Bean Dataset', 'Car Evaluation', 'Wine Quality', 'Bank Marketing']

In [183]:
# Scraping Dataset detail via Xpath
Data_det=[]
datadet_tag=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]')
for i in datadet_tag:  
    Data_det.append(i.text)

In [184]:
print(len(Data_det))

10

In [158]:
print(Data_det)

['Classification', 'Tabular', '150 Instances', '4 Features', 'Subject Area', 'Feature Type', 'Date Donated', 'Views', 'Classification', 'Multivariate', '303 Instances', '13 Features', 'Subject Area', 'Feature Type', 'Date Donated', 'Views', 'Classification', 'Multivariate', '48.84K Instances', '14 Features', 'Subject Area', 'Feature Type', 'Date Donated', 'Views', 'Classification', 'Tabular', '178 Instances', '13 Features', 'Subject Area', 'Feature Type', 'Date Donated', 'Views', 'Classification', 'Multivariate', '569 Instances', '30 Features', 'Subject Area', 'Feature Type', 'Date Donated', 'Views', 'Classification', 'Multivariate, Time-Series', '1 Instances', '20 Features', 'Subject Area', 'Feature Type', 'Date Donated', 'Views', 'Classification', 'Multivariate', '13.61K Instances', '16 Features', 'Subject Area', 'Feature Type', 'Date Donated', 'Views', 'Classification', 'Multivariate', '1.73K Instances', '6 Features', 'Subject Area', 'Feature Type', 'Date Donated', 'Views', 'Classification, Regression', 'Multivariate', '4.9K Instances', '12 Features', 'Subject Area', 'Feature Type', 'Date Donated', 'Views', 'Classification', 'Multivariate', '45.21K Instances', '17 Features', 'Subject Area', 'Feature Type', 'Date Donated', 'Views']

In [203]:
#for removing ''
for i in Data_det:
    if i=='':
        Data_det.remove(i)
        
#slicing dataset
Task=Data_det[4:1:7]
Data_type=Data_det[4:2:7]
No_of_Instances=Data_det[4:3:7]
No_of_Attribute=Data_det[4:4:7]

In [205]:
#creating Dataframe
Datasets= pd.DataFrame({"Dataset name":Dataset_name,"Data type":Data_type,"Task":Task,"Instances":No_of_Instances,"Attribute":No_of_Attribute})
Datasets

Empty DataFrame
Columns: [Dataset name, Data type, Task, Instances, Attribute]
Index: []