WEB SCRAPING ASSIGNMENT -2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [224]:
import selenium                                      #library that is used to work with selenium
from selenium import webdriver                       #importing webdriver module from selenium to open automated crome window
import pandas as pd                                  #To create Dataframe
from selenium.webdriver.common.by import By          # importing inbuilt class By         
import warnings                                      # To ignore any sorts of warnings
warnings.filterwarnings("ignore")
import time                                           # Used to stop search engine for few seconds
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException # Exceptions handling
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys

In [225]:
# connecting Webdriver
driver = webdriver.Chrome()

In [226]:
#Opening the shine page on automated browser
driver.get("https://www.shine.com/")

In [227]:
#entering designation and location as required
designation=driver.find_element(By.CLASS_NAME,"form-control")
#designation=driver.find_element(By.CLASS_NAME,"searchForm_search_item__hr6Du form-group") 
designation.send_keys('Data Analyst')

In [228]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Banglore")

In [229]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
 #but=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div")
search.click()

In [230]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [231]:
time.sleep(3)

In [233]:
#Scraping Job Title from the given page
title=driver.find_elements(By.XPATH,"//div[@class=jobCard_jobCard_features__wJid6]")
#title_tags=driver.find_elements(By.XPATH,"")
for i in title_tags:
    title=i.text
    job_title.append(title)

In [236]:
#Scraping Job Location from the given page
#location_tags=driver.find_elements(By.XPATH,"//div[@class=jobCard_jobCard_lists__fdnsc]")
location=driver.find_elements(By.XPATH,'//*[@id="1"]/div[2]/div[1]/div[1]/div[3]/div[2]')
for j in location:
    location= j.text
    job_location.append(location)

In [240]:
#Scraping Comapny Name from the given page
company=driver.find_elements(By.XPATH,"//*[@id='1']/div[1]/div[1]/div[1]/div[2]")
for k in company:
    company=k.text
    company_name.append(company)

In [243]:
#Scraping Job Experience Required from the given page
experience=driver.find_elements(By.XPATH,"//div[@class=jobCard_jobCard_lists__fdnsc]")
for i in experience:
    experience=i.text
    experience_required.append(experience)

In [255]:
print(len(job_title),len(job_location),len(company_name), len(experience_required))

0 1 1 0

In [256]:
import pandas as pd

In [258]:
#dataAnalyst=pd.DataFrame({'job-title':job_title,'job-location':job_location,'company_name':company_name,'experience_required':experience_required})
#dataAnalyst

Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [263]:
import selenium                                      #library that is used to work with selenium
from selenium import webdriver                       #importing webdriver module from selenium to open automated crome window
import pandas as pd                                  #To create Dataframe
from selenium.webdriver.common.by import By          # importing inbuilt class By         
import warnings                                      # To ignore any sorts of warnings
warnings.filterwarnings("ignore")
import time                                          # Used to stop search engine for few seconds
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException # Exceptions handling
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys

In [264]:
# connecting Webdriver
driver = webdriver.Chrome()

In [265]:
#Opening the shine page on automated browser
driver.get("https://www.shine.com/")

In [266]:
#entering designation and location as required
designation=driver.find_element(By.CLASS_NAME,"form-control") 
designation.send_keys('Data Scientist')

In [267]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Banglore")

In [268]:
#to click on search
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [269]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [270]:
#Scraping Job Title from the given page
title_tags=driver.find_elements(By.XPATH,"//div[@class=jobCard_jobCard_features__wJid6]")
for i in title_tags:
    title=i.text
    job_title.append(title)

In [275]:
#Scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,"//*[@id='1']/div[1]/div[1]/div[1]/div[3]/div[2]")
for i in location_tags:
    location=i.text
    job_location.append(location)

In [276]:
#Scraping Comapny Name from the given page
company_tags=driver.find_elements(By.XPATH,"//div[@class=jobCard_jobCard_cName__mYnow]")
for j in company_tags:
    company=j.text
    company_name.append(company)

In [278]:
#Scraping Job Experience Required from the given page
experience_tags=driver.find_elements(By.XPATH,"//*[@id='1']/div[1]/div[1]/div[1]/div[3]/div[1]")
for k in experience_tags:
    exp=k.text
    experience_required.append(exp)

In [279]:
print(len(job_title),len(job_location),len(company_name), len(experience_required))

0 1 0 1

In [281]:
driver.close()

In [280]:
import pandas as pd

In [282]:
#dataScientist=pd.DataFrame({'job-title ':job_title,'job-location':job_location,'company_name':company_name,'experience_required':experience_required})
#dataScientist

Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [307]:
import selenium                                      #library that is used to work with selenium
from selenium import webdriver                       #importing webdriver module from selenium to open automated crome window
import pandas as pd                                  #To create Dataframe
from selenium.webdriver.common.by import By          # importing inbuilt class By         
import warnings                                      # To ignore any sorts of warnings
warnings.filterwarnings("ignore")
import time                                           # Used to stop search engine for few seconds
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException # Exceptions handling
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys

In [308]:
# connecting Webdriver
driver = webdriver.Chrome()

In [309]:
#Opening the shine page on automated browser
driver.get("https://www.shine.com/")

In [310]:
#entering designation and location as required
designation=driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys('Data Scientist')

In [311]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi/NCR')

In [312]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
 #but=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div")
search.click()

In [313]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[3]/button")

salary.click()

In [314]:
package=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")

package.click()

In [315]:
res=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
res.click()

In [316]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [318]:
#Scraping Job Title from the given page
#title_tags=driver.find_elements(By.XPATH,"//*[@id='1']/div[1]/div[1]/div[1]/h2/a")
title_tags=driver.find_elements(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div[1]/div/div/div[1]/div[1]/div[1]/h2/a")
for i in title_tags:
    title=i.text
    job_title.append(title)

In [319]:
#Scraping Job Location from the given page
location_tags=driver.find_elements(By.XPATH,"//*[@id='1']/div[1]/div[1]/div[1]/div[3]/div[2]")
for i in location_tags:
    location=i.text
    job_location.append(location)

In [320]:
#Scraping Comapny Name from the given page
company_tags=driver.find_elements(By.XPATH,"//*[@id='1']/div[1]/div[1]/div[1]/div[2]/span")
for j in company_tags:
    company=j.text
    company_name.append(company)

In [321]:
#Scraping Job Experience Required from the given page
experience_tags=driver.find_elements(By.XPATH,"//*[@id='1']/div[1]/div[1]/div[1]/div[3]/div[1]")
for k in experience_tags:
    exp=k.text
    experience_required.append(exp)

In [322]:
print(len(job_title),len(job_location),len(company_name), len(experience_required))

1 1 1 1

In [299]:
dataAnalyst=pd.DataFrame({'job-title':job_title,'job-location':job_location,'company_name':company_name,'experience_required':experience_required})
dataAnalyst

                job-title job-location       company_name experience_required
0  Data Scientist Vacancy    Oman\n+14  divya interprises          0 to 4 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. Product Description
8. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [68]:
import selenium                                      #library that is used to work with selenium
from selenium import webdriver                       #importing webdriver module from selenium to open automated crome window
import pandas as pd                                  #To create Dataframe
from selenium.webdriver.common.by import By          # importing inbuilt class By         
import warnings                                      # To ignore any sorts of warnings
warnings.filterwarnings("ignore")
import time                                          # Used to stop search engine for few seconds
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException # Exceptions handling
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys

In [69]:
driver = webdriver.Chrome()

In [70]:
#Opening the shine page on automated browser
driver.get(" https://www.flipkart.com/")

In [71]:
seek=driver.find_element(By.CLASS_NAME,'Pke_EE')
seek.send_keys('sunglasses')

In [72]:
Tik=driver.find_element(By.CLASS_NAME,'_2iLD__')
Tik.click()

In [77]:
#creating the empty lists
Brand_name=[]
Price=[]
P_desc=[]
Discount=[]

In [78]:
time.sleep(3)

In [79]:
for i in range(3):
    brand_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [80]:
B_name[:100]

['Fastrack',
 'ROYAL SON',
 'SRPM',
 'GANSTA',
 'Elligator',
 'ROADWAY',
 'ROADWAY',
 'ROYAL SON',
 'Roadster',
 'Elligator',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Rich Club',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Elligator',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROADWAY',
 'ROADWAY',
 'VINCENT CHASE',
 'ROYAL SON',
 'PIRASO',
 'ROYAL SON',
 'Roadster',
 'METRONAUT',
 'ROYAL SON',
 'VINCENT CHASE',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'NuVew',
 'Elligator',
 'VINCENT CHASE',
 'Rich Club',
 'Eyewearlabs',
 'Nicole Miller',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROYAL SON',
 'SRPM',
 'GANSTA',
 'Elligator',
 'ROADWAY',
 'ROADWAY',
 'ROYAL SON',
 'Roadster',
 'Elligator',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Rich Club',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Elligator',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROADWAY',
 'ROADWAY',
 'VINCENT CHASE',
 'ROYAL SON',
 'PIRASO',
 'ROYAL SON',
 'Roadster',
 'METRONAUT',
 'ROYAL SON',
 'VINCENT CHASE',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'NuVew',
 'Elligator',
 'VINCENT CHASE',
 'Rich Club',
 'Eyewearlabs',
 'Nicole Miller',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROYAL SON',
 'SRPM',
 'GANSTA',
 'Elligator',
 'ROADWAY',
 'ROADWAY',
 'ROYAL SON',
 'Roadster',
 'Elligator',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Rich Club',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Elligator',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROADWAY',
 'ROADWAY']

In [81]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [87]:
#Creating Dataframe to view scraped information
sunglass=pd.DataFrame({})
sunglass['Brand_name']=B_name[:100]
sunglass['Price']=Price[:100]
sunglass['Decription']=P_desc[:100]
sunglass['Discount_offered']=Discount[:100]

In [88]:
sunglass

,Brand_name,Price,Decription,Discount_offered
0,Fastrack,₹449₹89950% off,UV Protection Rectangular Sunglasses (Free Size),50% off
1,ROYAL SON,"₹339₹1,49977% off",Mirrored Aviator Sunglasses (58),77% off
2,SRPM,"₹149₹1,29988% off",UV Protection Wayfarer Sunglasses (50),88% off
3,GANSTA,"₹77₹1,29994% off","Night Vision, Riding Glasses Rectangular Sungl...",94% off
4,Elligator,₹149₹59975% off,"UV Protection Cat-eye, Retro Square, Oval, Rou...",75% off
...,...,...,...,...
95,Elligator,₹239₹99976% off,"UV Protection, Mirrored Wayfarer Sunglasses (54)",81% off
96,VINCENT CHASE,"₹218₹1,29983% off","Polarized, UV Protection Round Sunglasses (51)",80% off
97,VINCENT CHASE,"₹424₹1,49971% off","Polarized, UV Protection Sports Sunglasses (69)",75% off
98,ROADWAY,₹199₹94979% off,"UV Protection Wayfarer, Sports, Spectacle , Re...",71% off
99,ROADWAY,"₹159₹1,29987% off","UV Protection Retro Square, Wayfarer, Sports S...",86% off

5.Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 	

kindly use below link

https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART&q=iphone+11&store=tyy/4io&srno=s_1_1&otracker=AS_Query_HistoryAutoSuggest_6_0_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_6_0_na_na_na&fm=organic&iid=e30aaa70-fe6e-466c-81d4-993e630ea913.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=nseg9l47e80000001699187524593&qH=f6cdfdaa9f3c23f3


As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [323]:
import selenium                                      #library that is used to work with selenium
from selenium import webdriver                       #importing webdriver module from selenium to open automated crome window
import pandas as pd                                  #To create Dataframe
from selenium.webdriver.common.by import By          # importing inbuilt class By         
import warnings                                      # To ignore any sorts of warnings
warnings.filterwarnings("ignore")
import time                                          # Used to stop search engine for few seconds
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException # Exceptions handling
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys

In [324]:
driver = webdriver.Chrome()

In [340]:
#Opening the flipcart page on automated browser
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART&q=iphone+11&store=tyy/4io&srno=s_1_1&otracker=AS_Query_HistoryAutoSuggest_6_0_na_na_na&otracker1=AS_Query_HistoryAutoSuggest_6_0_na_na_na&fm=organic&iid=e30aaa70-fe6e-466c-81d4-993e630ea913.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=nseg9l47e80000001699187524593&qH=f6cdfdaa9f3c23f3")

In [346]:
#Clicking to view all reviews
all_review=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[6]/div/a/div/span')
all_review.click()

In [341]:
Rating=[]
Review=[]
Full_review=[]

In [342]:
time.sleep(3)

In [348]:
#To scrap rating deatils 
for i in range(3):
    rating_tag=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    review_tag=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    freview_tag =driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    
    for j  in rating_tag:
        Rating.append(j.text)
    Rating[:100]    
    
    
    
    for k in review_tag:
        Review.append(k.text)
    Review[:100] 
    
    
    for l in freview_tag:
        Full_review.append(l.text)
    Full_review[:100]

In [349]:
print(Rating)

['5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4']

In [350]:
#Create dataframe to view scrap data
ratingdf=pd.DataFrame({})
ratingdf['Ratings']=Rating[0:100]
ratingdf['Rewiew_Summery']=Review[0:100]
ratingdf['Full_Review']=Full_review[0:100]

In [351]:
ratingdf

,Ratings,Rewiew_Summery,Full_Review
0,5,Wonderful,This is amazing at all
1,5,Terrific,Very very good
2,5,Best in the market!,Good Camera
3,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
4,5,Worth every penny,Feeling awesome after getting the delivery of ...
5,5,Terrific purchase,Value for money 😍
6,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
7,5,Perfect product!,Photos super
8,5,Fabulous!,Super🔥 and good performance 👌❤️
9,4,Good quality product,Awesome
10,5,Wonderful,This is amazing at all
11,5,Terrific,Very very good
12,5,Best in the market!,Good Camera
13,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
14,5,Worth every penny,Feeling awesome after getting the delivery of ...
15,5,Terrific purchase,Value for money 😍
16,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
17,5,Perfect product!,Photos super
18,5,Fabulous!,Super🔥 and good performance 👌❤️
19,4,Good quality product,Awesome
20,5,Wonderful,This is amazing at all
21,5,Terrific,Very very good
22,5,Best in the market!,Good Camera
23,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
24,5,Worth every penny,Feeling awesome after getting the delivery of ...
25,5,Terrific purchase,Value for money 😍
26,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
27,5,Perfect product!,Photos super
28,5,Fabulous!,Super🔥 and good performance 👌❤️
29,4,Good quality product,Awesome

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [330]:
import selenium                                      #library that is used to work with selenium
from selenium import webdriver                       #importing webdriver module from selenium to open automated crome window
import pandas as pd                                  #To create Dataframe
from selenium.webdriver.common.by import By          # importing inbuilt class By         
import warnings                                      # To ignore any sorts of warnings
warnings.filterwarnings("ignore")
import time                                          # Used to stop search engine for few seconds
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException # Exceptions handling
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys

In [89]:
driver = webdriver.Chrome()

In [90]:
#Opening the shine page on automated browser
driver.get(" https://www.flipkart.com/")

In [91]:
seek=driver.find_element(By.CLASS_NAME,'Pke_EE')
seek.send_keys('sneakers')

In [92]:
Tik=driver.find_element(By.CLASS_NAME,'_2iLD__')
Tik.click()

In [93]:
#creating the empty lists
brand_name=[]
product_desc=[]
p_price=[]
discount_offered=[]

In [94]:
time.sleep(3)

In [95]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        brand_name.append(j.text)
    brand_name[:100]    
    
    
    
    for k in p_desc:
        product_desc.append(k.text)
    product_desc[:100] 
    
    
    for l in price:
        p_price.append(l.text)
    p_price[:100] 
    
    
    for t in discount:
        discount_offered.append(t.text)
    discount_offered[:100]

In [96]:
print(len(brand_name), len(product_desc), len(p_price),len( discount_offered))

120 117 135 120

In [97]:
sneaker_df=pd.DataFrame({'Brand':brand_name[0:100],'Product Description':product_desc[0:100],'Price':p_price[0:100],'Discount': discount_offered[0:100]})
sneaker_df

,Brand,Product Description,Price,Discount
0,BRUTON,Combo Pack Of 2 Casual Shoes Sneakers For Men,"₹497₹2,49980% off",80% off
1,BRUTON,Combo_Pack_Of 2 Casual Shoes Sneakers For Men,"₹497₹2,49980% off",80% off
2,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,"₹289₹1,99985% off",85% off
3,Layasa,Sneakers For Men,₹295₹99970% off,70% off
4,BRUTON,Modern Trendy Shoes Sneakers For Men,"₹285₹1,29978% off",78% off
...,...,...,...,...
95,RED TAPE,2 Combo Sneaker Shoes Sneakers For Men,"₹499₹1,24960% off",78% off
96,BRUTON,Sneakers For Men,₹299₹99970% off,80% off
97,BRUTON,Sneaker Casual Shoes For Men | Soft Cushion In...,"₹497₹2,49980% off",80% off
98,Ego by NS,Casual Premium Ankle Length Black Denim Boots ...,"₹343₹1,99982% off",65% off
99,RED TAPE,Casual Sneakers ColourFul Block Shoes For Boys...,₹299₹99970% off,78% off

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:

In [49]:
import selenium                                      #library that is used to work with selenium
from selenium import webdriver                       #importing webdriver module from selenium to open automated crome window
import pandas as pd                                  #To create Dataframe
from selenium.webdriver.common.by import By          # importing inbuilt class By         
import warnings                                      # To ignore any sorts of warnings
warnings.filterwarnings("ignore")
import time                                          # Used to stop search engine for few seconds
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException # Exceptions handling
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys

In [50]:
driver = webdriver.Chrome()

In [51]:
#Opening the shine page on automated browser
driver.get("  https://www.amazon.in/")

In [52]:
seek=driver.find_element(By.XPATH,'//*[@id="twotabsearchtextbox"] ')
seek.send_keys('Laptop')

In [53]:
Tik=driver.find_element(By.XPATH,'//*[@id="nav-search-submit-text"]')
Tik.click()

In [56]:
cpu_type=driver.find_element(By.ID,'nav-search-submit-button')
cpu_type.click()

In [61]:
Title=[]
Price=[]
Rating=[]

In [62]:
time.sleep(3)

In [64]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    
    
    for j  in b_name:
        Title.append(j.text)
    Title[:100]    
    
    
    
    for k in p_desc:
        p_desc.append(k.text)
    p_desc[:100] 
    
    
    for l in price:
        price.append(l.text)
    price[:100]

In [65]:
print(len(Title), len(Price), len(Rating))

0 0 0

In [67]:
sneaker_df=pd.DataFrame({'Laptop':Title[0:10],'Price':Price[0:10],'Ratings':Rating[0:10]})
sneaker_df

Empty DataFrame
Columns: [Laptop, Price, Ratings]
Index: []

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [98]:
driver = webdriver.Chrome()

In [99]:
#Opening the shine page on automated browser
driver.get("https://www.azquotes.com/")

In [101]:
seek=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
seek.click()

In [102]:
Quote=[]
Author =[]
T_Quotes=[]

In [103]:
time.sleep(3)

In [104]:
for i in range(3):
    quote_tag=driver.find_elements(By.XPATH,"//a[@class='title']")
    author_tag=driver.find_elements(By.XPATH,"//div[@class='author']")
    t_tag=driver.find_elements(By.XPATH,"//div[@class='tags']")
    
    
    for j  in quote_tag:
        Quote.append(j.text)
    Quote[:100]    
    
    
    
    for k in author_tag:
        Author.append(k.text)
    Author[:100] 
    
    
    for l in t_tag:
        T_Quotes.append(l.text)
    T_Quotes[:100]

In [105]:
print(len(Quote),len(Author),len(T_Quotes))

300 300 300

In [106]:
Q_author_df=pd.DataFrame({'Quote':Quote[0:100],'Author':Author[0:100],'Type of Quotes':T_Quotes[0:100]})
Q_author_df

,Quote,Author,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [123]:
import selenium                                      #library that is used to work with selenium
from selenium import webdriver                       #importing webdriver module from selenium to open automated crome window
import pandas as pd                                  #To create Dataframe
from selenium.webdriver.common.by import By          # importing inbuilt class By         
import warnings                                      # To ignore any sorts of warnings
warnings.filterwarnings("ignore")
import time                                          # Used to stop search engine for few seconds
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException # Exceptions handling
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys

In [132]:
driver = webdriver.Chrome()

In [133]:
#Opening the shine page on automated browser
driver.get("https://www.jagranjosh.com/")

In [134]:
gk=driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div/div/div[3]/ul/li[6]/a')

gk.click()

In [135]:
india_gk=driver.find_element(By.XPATH,'/html/body/div[1]/div[9]/section[5]/div[1]/h2/a')
india_gk.click()

In [136]:
pm=driver.find_element(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/section/div/ul/li[7]/article/h3/a')
pm.click()

In [141]:
Pm_Name=[]

Born_Dead=[]

Term_of_office=[]

Remark=[]

In [142]:
time.sleep(3)

In [161]:
for i in range(3):
    Pname_tag=driver.find_elements(By.ID,"//*[@id='itemdiv']/div[3]/div[9]/p[2]/strong/a")
    life_span=driver.find_elements(By.XPATH,"//*[@id='itemdiv']/div[3]/div[9]/p[3]")
    duty_duration=driver.find_elements(By.XPATH,"//*[@id='itemdiv']/div[3]/div[9]/p[5]/span")
    info_tag=driver.find_elements(By.XPATH,"//*[@id='itemdiv']/div[3]/div[9]/p[6]")
    
    for j  in Pname_tag:
        Pm_Name.append(j.text)
    Pm_Name [:19]  
    
    
    
    for k in life_span:
        Born_Dead.append(k.text)
    Born_Dead[:19]
    
    
    for l in duty_duration:
        Term_of_office.append(l.text)
    Term_of_office [:19]
    
    
    for l in info_tag:
        Remark.append(l.text)
    Remark[:19]

In [162]:
print(len(Pm_Name), len(Born_Dead), len(Term_of_office), len( Remark))

12 15 15 15

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [352]:
import selenium                                      #library that is used to work with selenium
from selenium import webdriver                       #importing webdriver module from selenium to open automated crome window
import pandas as pd                                  #To create Dataframe
from selenium.webdriver.common.by import By          # importing inbuilt class By         
import warnings                                      # To ignore any sorts of warnings
warnings.filterwarnings("ignore")
import time                                          # Used to stop search engine for few seconds
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException # Exceptions handling
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys

In [353]:
driver = webdriver.Chrome()

In [ ]:
#Opening the shine page on automated browser
driver.get(" https://www.motor1.com/")

In [ ]:
search_bar=driver.find_element(By.CLASS_NAME,'m1-search-panel-input m1-search-form-text')

search_bar.click()

In [ ]:
search_bar=driver.find_element(By.CLASS_NAME,'m1-search-panel-input m1-search-form-text')

search_bar.send_keys("50 most expensive cars")

In [ ]:
#entering designation and location as required
#exp=driver.find_element(By.CLASS_NAME,"m1-search-panel")
exp=driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]") 
exp.click()

In [ ]:
sear=driver.find_element(By.XPATH,"/html/body/div[10]/div[6]/form/input[2]") 
sear.click()

In [ ]:
fif_exp=driver.find_element(By.XPATH,"/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a") 
fif_exp.click()

In [ ]:
car_name=[]
car_price=[]

In [ ]:
time.sleep(3)

In [ ]:
    for i in range(3):
    carname=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
    carprice=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[2]/p[4]/strong')
    
    for j in carname:
        car_name.append(j.text)
    car_name [:50] 
    
    
    for k in carprice:
         car_price.append(k.text)
    car_price[:50]

In [360]:
print(len(car_name))

0